#product-detail img {
  background: #fff;
  padding: 20px;
  border: 1px solid #f1f1f1;
}

.btn-warning {
  background-color: #d4af37 !important;
  border-color: #d4af37 !important;
  color: white !important;
  transition: 0.3s;
}

.btn-warning:hover {
  background-color: #b8962d !important;
  transform: scale(1.02);
}

.breadcrumb-item a {
  color: #d4af37;
  text-decoration: none;
}
